footer.footer {
	background-color: $black;
	padding-top: 4rem;
	padding-bottom: .5rem;
	border-bottom: 1rem solid $brand-pink;
	.inner-footer {
		justify-content: space-between;
		.logo {
			margin-bottom: 2rem;
			svg {
				width: 100%;
				max-width: 200px;
			}
		}
		#footer-links {
			justify-content: flex-end;
			a {
				margin-bottom: .6rem;
				color: $white;
			}
			> li {
				flex: 1 1 100%;
				margin-bottom: 1.5rem;
				@include breakpoint(medium) {
					margin-left: 2rem;					
					flex: 0 0 auto;
				}
				> a {
				    font-weight: bold;
				    font-size: rem-calc(18);
				}
			}
			ul.sub-menu {
				padding-left: 0;
				margin-left: 0;
				list-style: none;
				li a {
					font-size: rem-calc(15);
				}
			}
		}
		.source-org {
			padding-top: 3rem;
		}
	}
}