$font-sans: 'Montserrat', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$font-display: 'Gravitas One', cursive;

$brand-pink: #f5dae3;
$brand-mauve: #845a6d;
$brand-purple: #3E1929;
$brand-gold: #9d6027;